[submodule "gmusicapi"]
	path = gmusicapi
	url = https://github.com/simon-weber/gmusicapi
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
